@media (prefers-color-scheme:dark) {
  :root {
    --background: #212529;
    --text: #fff;
    --blue: #3498db;
    --gray: #bbb;
    --darkgray: #444;
    --midgray: #777;
    --green: #40903b;
  }
  
  #spPageChromeAppDiv *[class!=UpdateEditTop] *
  {
    background-color: var(--background);
    color: var(--text);
  }
  
  #spPageChromeAppDiv .fontColorGreen,
  #spPageChromeAppDiv .fontColorGreen *
  {
    color: var(--green);
  }
  
  #spPageChromeAppDiv .commandBarWrapper,
  #spSiteHeader
  {
    border-color: var(--darkgray);
  }
  
  #spPageChromeAppDiv div[role=row]
  {
    border-bottom: 1px solid var(--darkgray);
  }
  
  #spPageChromeAppDiv *[data-automation-key^=dateModifiedColumn],
  #spPageChromeAppDiv *[data-automation-key^=dateModifiedColumn] *
  {
    color: var(--midgray);
  }
  
  #spPageChromeAppDiv a,
  #spPageChromeAppDiv i[data-icon-name=glimmer],
  #spPageChromeAppDiv button i
  {
    color: var(--blue);
  }
  
  #spPageChromeAppDiv button:focus span.ms-Button-label,
  #spPageChromeAppDiv button:hover span.ms-Button-label
  {
    text-decoration: underline;
  }
  
  #spPageChromeAppDiv span.ms-Button-label {
    color: var(--gray);
  }
}
