@media (prefers-color-scheme:dark) {
  :root {
    --background: #212529;
    --text: #fff;
    --blue: #3498db;
    --gray: #bbb;
    --green: #40903b;
  }
  
  body,
  #spPageChromeAppDiv *
  {
    background-color: var(--background) !important;
    color: var(--text) !important;
  }
  
  #spPageChromeAppDiv .fontColorGreen
  {
    color: var(--green) !important;
  }
  
  #spPageChromeAppDiv a,
  #spPageChromeAppDiv i[data-icon-name=glimmer],
  #spPageChromeAppDiv i[data-icon-name=FavoriteStarFill]
  {
    color: var(--blue) !important;
  }
  
  #spPageChromeAppDiv span.ms-Button-label {
    color: var(--gray) !important;
  }
}
